.Dropdown-root {
  position: relative;
}

.Dropdown-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-arrow {
  display: none;
}

.is-open .Dropdown-arrow {
  display: none;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title {
  padding: 2rem 2rem;
  color: rgba(51, 51, 51, 1);
  font-weight: bold;
  text-transform: capitalize;
}

.Dropdown-option {
  box-sizing: border-box;
  color: #fffce1;
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}

.Dropdown-option:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
  background-color: #c6f6d5;
  color: #333;
}

.Dropdown-option.is-selected {
  background-color: #fffce1;
  color: #333;
}

.Dropdown-noresults {
  box-sizing: border-box;
  color: #fffce1;
  cursor: default;
  display: block;
  padding: 8px 10px;
}

.landing-menu {
  background-color: #0d1012;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

.landing-menu-transition {
  background-color: #1f2328;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}
