node_modules
npm-debug.log
Dockerfile

# next.js
.next/

# git
.git
.gitignore

# dependencies
/node_modules
/.pnp
.pnp.js
.idea/

# testing
/coverage

# production
/build
.yo-rc.json

# misc
.DS_Store

# Docker
.dockerignore

# tmp
tmp
log
doc
spec
media
.bundle
coverage

npm-debug.log*
yarn-debug.log*
yarn-error.log*
