# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.idea/

# next.js
.next/
out

# travis
.travis/travis_rsa
.travis/travis_rsa

# testing
/coverage

# production
/build
.yo-rc.json

# misc
.DS_Store
.env
.env.local
.env.development
.env.test
.env.production

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.eslintignore
.eslintrc.js
.dockerignore
.prettierrc
