language: node_js

node_js:
  - "10"

dist: trusty

sudo: false

cache:
  directories:
    - node_modules

addons:
  chrome: stable

script:
  - npm run test:headless
  - npm run build
  - xvfb-run npm run e2e